:root {
    color-scheme: dark light;

    --text: #050505;
    --background: #fafafa;
    --neutral: grey;
    --primary: #34413c;
    --secondary: #e3e5e8;
    --accent: #d22d6f;
    --accent-focus: #e481a9;

    --text-light: #e8e3e5;

    @media screen and (prefers-color-scheme: dark) {
        --text: #e8e3e5;
        --neutral: grey;
        --background: #191416;
        --primary: #34413c;
        --secondary: #22252a;
        --accent: #e481a9;
        --accent-focus: #d22d6f;
    }
}

body {
    background-color: var(--background);
    color: var(--text);
}

.nav-link {
    color: var(--accent)
}

nav {
    background-color: var(--secondary);
}

nav img {width: 2em;} 

.nav-link:hover {color: var(--accent-focus)}

a {color: var(--accent)}
a:hover {color: var(--accent-focus)}


.social {
    background-color: var(--primary);
}

.social-img {
    width: 4em;
    margin: 1em;
}

#highlights {
    margin-top: 10em;
    background-color: var(--primary);
    color: var(--text-light);
    position: relative;
}

#highlights h2 {
    position: absolute;
    padding-left:20%;
    left: -10%;
    content: "What's Happening";
    background-color: var(--primary);
    width: 250%;
    height: 100%;
    transform: rotate(7deg);
}
